<h1>Selamat Datang di Sistem Data Pasien</h1>
<p class="lead">Sistem manajemen data pasien berbasis microservices</p>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Data Pasien</h5>
                <p class="card-text">Kelola data pasien dengan operasi CRUD lengkap</p>
                <a href="/patients" class="btn btn-primary">Kelola Pasien</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Profil Anda</h5>
                <p class="card-text">Lihat dan perbarui informasi akun Anda</p>
                <a href="/profile" class="btn btn-success">Lihat Profil</a>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <h4>Role Anda: <span class="badge bg-info"><%= user.role %></span></h4>
    <% if (user.role === 'admin') { %>
    <p class="text-success">Anda memiliki akses penuh sebagai Administrator</p>
    <% } else { %>
    <p class="text-info">Anda memiliki akses terbatas sebagai User</p>
    <% } %>
</div>
